<h1>Bienvenue sur The Gossip Project!</h1>


        <h2> Voici les gossips:</h2>

            <% @gossip.each do |gossip| %>
  <table class="table">
      <td class="text-left"><%= link_to gossip.user.first_name, "/user/#{gossip.user.id}" %> </td>

      <td class="text-center "><%= link_to gossip.title, "/gossip/#{gossip.id}" %></td>
  </table>
<% end %>